*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    /* color: black; */
}

a {
    text-decoration: none;
    color: #fff;
    /* color: black; */
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    transition: all 0.5s;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.fst-scr {
    /* background-color: black; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/first-screen-bg.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.fst-scr__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content:space-evenly;
    white-space: nowrap;
}

.logo {
    font-family: "Corinthia", cursive;
    font-size: 45px;
    margin-top: 41px;
    transition: all .5s;
}

.logo:hover {
    color: #057D9F;
}

/* .menu-list {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.menu-item {
    margin: 0 36px;
}

.menu-link {
    transition: all .5s;
}

.menu-link:hover {
    color: #057D9F;
} */

.buy-link {
    line-height: 27px;
    display: flex;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 12px;
    margin-top: 21px;
    transition: all .5s;
    max-width: 213px;
}

.buy-link:hover {
    color: #057D9F;
    border-color: #057D9F;
}


/* .account-link {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    transition: all .5s;
}

.account-link:hover {
    color: #057D9F;
}

.account-img {
    height: 37px;
    border-radius: 50%;
}

.account-text {
    padding-top: 8px;
    padding-left: 8px;
} */

.fst-scr__content {
    display: flex;
    justify-content: space-between;
}

.fst-scr__info {
    padding-top: 40px;
    max-width: 700px;
}

.fst-scr__info-title {
    font-family: "Corinthia", cursive;
    font-size: 145px;
    line-height: 115px;
    max-width: 85%;
    transition: all .5s;
}

.fst-scr__info-title:hover {
    font-size: 150px;
    color: #057D9F;
}

.fst-scr__info-text {
    margin-top: 40px;
}

.fst-scr__info__links {
    margin-top: 40px;
    display: flex;
}

.mint-link {
    color: #000;
    font-size: 25px;
    line-height: 32px;
    margin-right: 50px;
    background: linear-gradient(90deg, #057D9F 0.05%, #5BFFE4 100.15%, #60E7CE 100.16%);
    padding: 10px;
    border-radius: 10px;
    transition: all .5s;
}

.mint-link:hover {
    background: linear-gradient(90deg, #60E7CE 100.16%, #057D9F 0.05%, #5BFFE4 100.15%);
}

.minted-text {
    font-size: 30px;
    line-height: 32px;
    border-radius: 10px;
    padding: 10px;
}

.social__links {
    margin-top: 10px;
}

.social-img {
    height: 40px;
    width: 40px;
    margin: 5px;
    transition: all .2s;
}

.social-img:hover {
    margin: 2.5px;
    height: 45px;
    width: 45px;
}

.solana-img {
    height: 35px;
    width: 35px;
}

.buy-text {
    padding-top: 5px;
    padding-left: 8px;
}

.solorcas-row {
    display: flex;
}

.solorca-img {
    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    transition: all .3s;
}

.solorca-img:hover {
    border: 2px solid #057D9F;
    padding: 4px;
}

.solorcas__slider{
    display: none;
    width: 480px;
}

.solorca__slider-item{
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 10px;
}


@media(max-width: 1335px){
    body{
        font-size: 17px;
        line-height: 20px;
    }
    
    .menu-item .mint{
        font-size: 20px;
    }
    
    .fst-scr__info-title{
        font-size: 100px;
        line-height: 80px;
    }
    
    .fst-scr__info-title:hover{
        font-size: 103px;
    }
    
    .fst-scr__info-text{
        margin-top: 20px;
    }
    
    .mint-link{
        margin-right: 40px;
    }
    
    .minted-text{
        font-size: 25px;
    }

    .solorca-img{
        height: 150px;
        width: 150px;
    }
}

@media(max-width: 1070px){
    .fst-scr__content{
        display: block;
        text-align: center;
    }
    
    .fst-scr__info{
        max-width: none;
    }
    
    .fst-scr__info-title{
        max-width: none;
    }
    
    .fst-scr__info__links{
        justify-content: center;
    }
    
    .solorcas__panel{
        display: none;
    }

    .solorcas__slider{
        display: block;
        margin: 40px auto 0 auto;
    }
}

@media(max-width: 760px){
    .header{
        display: block;
        text-align: center;
    }
    
    .menu-list{
        margin-top: 50px;
        display: block;
    }

    .buy-link{
        margin-left: auto;
        margin-right: auto;
        max-width: 191px;
    }
    
    .menu-item{
        margin-bottom: 30px;
    }
}

@media(max-width: 600px){
    .fst-scr__info__links{
        display: block;
    }

    .mint-link{
        max-width: 244px;
        margin-right: auto;
        margin-left: auto;
    }

    .minted-text{
        margin-top: 20px;
    }
}

@media(max-width: 529px){
    body{
        font-size: 20px;
        line-height: 27px;
    }

    .buy-link{
        max-width: 213px;
    }

    .fst-scr__inner{
        padding-bottom: 10px;
    }

    .fst-scr__info{
        padding-top: 30px;
    }

    .fst-scr__info-title{
        display: none;
    }

    .solorcas__slider{
        width: 320px;
    }
}

@media(max-width: 359px){
    .logo{
        white-space:normal;
        line-height: 34px;
    }

    .solorcas__slider{
        width: 160px;
    }
}

@media(max-height: 850px){
    .header{
        margin-bottom: 10px;
    }

    .fst-scr__inner{
        padding-bottom: 10px;
    }
}